* {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

#background {
    content: url('../imgs/white-brick-wallpaper.jpg');
    position: fixed;
    display: inline;
    width: 100%;
    z-index: -1;
}
