.navigation-items {
    display: none;
    text-align: center;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.nav-icon {
    margin-left: auto;
}

.locations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#copyright {
    display: flex;
    justify-content: center;
}

#socialIcons {
  display: flex;;
  justify-content: center;
}

#facebook-icon {
  width: 40px;
}

#instagram-icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 40px;
}

#snapchat-icon {
  width: 40px;
}

#linkedinIcon {
  width: 20px;
}

#githubIcon {
  width: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
