.nav-icon {
    font-size: 30px;
}

.navigation-items a {
    color: #b3e085;
}

.wheatless {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.locations li:not(:last-of-type) {
    border-right: 2px solid black;
}

.search-container input {
    padding: 7px 28px 7px 7px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 17px;
    width: 160px;
    margin-left: 10px;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
}

.search-container .fa-search {
    position: absolute;
    top: 23px;
    right: 6px;
    color: #bfbfbf;
}

.form-control {
    position: relative;
}

.locations li {
    padding: 1px 9px;
}

@media screen and (min-width:760px) {
    .nav-icon {
        display: none;
    }
    .navigation {
        background-color: white;
    }
    .logo {
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 30px;
        font-family: pacifico;
        margin-right: auto;
    }
    .navigation-items {
        display: flex;
        justify-content: flex-end;
    }
    .navigation-items ul {
        display: block;
    }
    .navigation-items ul li {
        display: inline-block;
        padding: 10px 15px;
    }
    .wheatless {
        font-size: 70px;
        padding-right: 10px;
    }
    .search-container {
        display: flex;
        flex-direction: row;
        /*justify-content: center;*/
        align-items: center;
        height: 120px;
        width: 640px;
        margin: 274px auto 190px auto;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, .5);
    }
    .search-container input {
        padding: 20px 28px 7px 7px;
        background-color: transparent;
    }
    .navigation-items a {
        padding: 20px 15px;
        display: block;
        margin-right: 10px;
        ;
    }
    .navigation-items a:focus {
        background-color: #daecc8;
        color: #98bf70;
        border-radius: 3px;
    }
    .navigation-items a:hover {
        background-color: #daecc8;
        color: #98bf70;
        border-radius: 3px;
    }
    .locations li {
        padding: 1px 35px;
    }
    #background {
        background-image: url('../imgs/white-brick-wallpaper.jpg');
        position: absolute;
        background-position: 0 72px;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 800px;
        /*top:0;*/
        /*left:0;*/
        /*right:0;*/
        display: inline;
        width: 100%;
        z-index: -1;
    }
    #about-section {
        background-color: white;
        position: relative;
        top: 230px;

    }
    .about-us{
      max-width: 980px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .teamsection{
      padding: 10px;
    }
}

.main-container {
    color: #b3e085
}

#map {
    height: 400px;
    width: 400px;
}
