.nav-icon {
    font-size: 30px;
}

.navigation-items a {
    color: #b3e085;
}

.wheatless {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.locations li:not(:last-of-type) {
    border-right: 2px solid black;
}

#about-section {
  width: 85%;
  margin: auto;
  text-align: center;
}

#about-section div {
  margin: 2% auto;
}

#team {
  background-color: #7d7a7a;
  border-radius: 30px;
  padding: 5%;
}

#who-we-are{
  background-color: #7d7a7a;
  border-radius: 30px;
  padding: 5%;
}

#faq{
  background-color: #7d7a7a;
  border-radius: 30px;
  padding: 5%;
}

#team h4{
  font-weight: bold;
  margin: 1%;
}

#gfreelogo{
    margin: 1.5%;
}

.teamsection {
  background-color: rgba(12, 96, 138, 0.71);
  border-radius: 30px;
  padding: 2%;
  margin: 2%;
}

.profPic {
  width: 30%;
}

.teamsection h3{
  text-decoration: underline;
}

.item {
  margin: 5%;
}

footer{
  margin-top: 5%;
}

#mapListSelectorDiv{
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2%;
}

#mapListSelectorDiv a{
  margin: -.25%;
  padding: .75%;
}

.mapListSelector {
  background-color: rgb(207, 207, 207);
  border: 1px solid rgb(207, 207, 207);
  color: black;
  text-align: center;
}

.mapListSelector:hover {
  background-color: rgb(130, 130, 130);
}

.current {
  background-color: rgb(130, 130, 130);
  padding: 0.5%;
  border: 1px solid rgb(207, 207, 207);
  color: black;
}

.search-container input {
    padding: 7px 28px 7px 7px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 17px;
    width: 160px;
    margin-left: 10px;
    font-style: italic;
    box-sizing: border-box;
    outline: none;
}

.search-container .fa-search {
    position: absolute;
    top: 23px;
    right: 6px;
    color: #bfbfbf;
}

.seatch-form-control {
    position: relative;
}

.locations li {
    padding: 1px 9px;
}

#map {
  height: 500px;
  width: 85%;
  margin: auto;
  border: solid .25em #b3e085;
  border-radius: 2%;
}

div #mapTwo {
  width: 40%;
  height: 45%;
  position: absolute !important;
  right: 2%;
  border: solid .25em rgb(70, 76, 134);
  border-radius: 15px;
}

.restaurant-display {
  width: 45%;
  min-height: 25%;
  background-color: rgba(91, 91, 91, 0.79);
  border: solid .125em black;
  border-radius: 2.5%;
  margin-bottom: 1%;
  margin-left: 2%;
  padding: 1%;
  text-align: center;
}

.restaurant-display:hover {
  background-color: rgba(39, 116, 196, 0.71);
}

@media screen and (min-width: 500px){
  #map {
    max-height: 40%;
    max-width: 40%;
    margin: auto;
    border-radius: 2%;
  }
}

@media screen and (min-width:760px) {

  .restaurant-display img{
    float: left;
    position: relative;
  }

  .nav-icon {
      display: none;
  }
  .navigation {
      background-color: white;
  }
  .logo {
      display: flex;
      align-items: center;
      padding-left: 15px;
      font-size: 30px;
      font-family: pacifico;
      margin-right: auto;
  }
  .navigation-items {
      display: flex;
      justify-content: flex-end;
  }
  .navigation-items ul {
      display: block;
  }
  .navigation-items ul li {
      display: inline-block;
      padding: 10px 15px;
  }
  .wheatless {
      font-size: 70px;
      padding-right: 10px;
  }
  .search-container {
      display: flex;
      flex-direction: row;
      /*justify-content: center;*/
      align-items: center;
      height: 120px;
      width: 640px;
      margin: 274px auto 190px auto;
      border-radius: 100px;
      background-color: rgba(255, 255, 255, .5);
  }
  .search-container input {
      padding: 20px 28px 7px 7px;
      background-color: transparent;
  }
  .navigation-items a {
      padding: 20px 15px;
      display: block;
      margin-right: 10px;
  }
  .navigation-items a:focus {
      background-color: #daecc8;
      color: #98bf70;
      border-radius: 3px;
  }
  .navigation-items a:hover {
      background-color: #daecc8;
      color: #98bf70;
      border-radius: 3px;
  }
  .locations li {
      padding: 1px 35px;
  }
  #background {
      background-image: url('../imgs/white-brick-wallpaper.jpg');
      position: absolute;
      background-position: 0 72px;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 800px;
      /*top:0;*/
      /*left:0;*/
      /*right:0;*/
      display: inline;
      width: 100%;
      z-index: -1;
  }
  #about-section {
      position: relative;
      top: 230px;

  }
  .about-us{
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .teamsection{
    padding: 10px;
  }
}

.main-container {
    color: #b3e085
}

.comment-form {
  display: none;
}

.comment-form.active {
  display: block;
}

.comments {
  display: none;
}
.comments.active {
  display: block;
}
.comment {}
.comment.active {}
.comment-author {}
.comment-message {}
